{% include 'userheader.html' %}
<br><br><br><br><br>
<style>
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	padding: 30px;
	grid-row-gap: 5px;
	grid-column-gap: 10px;
}	
.grid-item {
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	}

table{
	background-color: lightyellow;
	padding: 30px;
	text-align: center;

	}
td{
	width:50%;
	padding: 20px;
	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}
tr{
	width:50%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}
input[type=text]{
	width:95%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
/*	border:1px solid black;
*/}
	input[type=submit]{
	width:95%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}
 table{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        th{
            width: 20%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
          width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
          width: 90%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;

        }
        input[type=text]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=file]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=radio]{
            width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=email]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        textarea{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

</style>
    <body >
    	<form method="post">
    	<h1 align="center"> <font size="30">My Profile</font></h1>
    	 <table  align="Center">
    	 	{% if data['updateprt']%}
            <tr class="tr">
            <th>First Name</th>
            <td class="td">
            <input type="text" name="fname" value="{{data['updateprt'][0]['fname']}}">
            </td>
            </tr>
            <tr class="tr">
            <th>Last Name</th>
            <td class="td">
            <input type="text" name="lname"  value="{{data['updateprt'][0]['lname']}}">
            </td>
            </tr>
             <tr class="tr">
            <th>Gender</th>
            <td class="td">
            <input type="text" name="gender"  value="{{data['updateprt'][0]['gender']}}">
            </td>
            </tr>
            <tr class="tr">
            <th>Address</th>
            <td class="td">
            <textarea name="address">{{data['updateprt'][0]['address']}}</textarea>
            </td>
            </tr>
            <tr class="tr">
            <th>Phone</th>
            <td class="td">
            <input type="text" name="phone"  pattern="[0-9]{10}" value="{{data['updateprt'][0]['phone']}}">
            </td>
            </tr>
            <tr class="tr">
            <th>Email</th>
            <td class="td">
            <input type="email" name="email"  value="{{data['updateprt'][0]['email']}}">
            </td>
            </tr>
           
            <tr class="tr">
            <td colspan="2" align="center" class="td">
                  <input type="submit" name="update" value="EDIT" class="btn btn-primary">
            </td>
            </tr>
           </table>
           {% else %}
	<div class="grid-container">
		
			{% for row in data['us'] %}
					<div class="grid-item">
						<h3><b>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['NAME']}}</b></h3><br>
						<h3><b>Gender:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['gender']}}</b></h3><br>
						<h3><b>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['address']}}</b></h3><br>
						<h3><b>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['email']}}</b></h3><br>
						<h3><b>Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['phone']}}</b></h3><br>
						<a href="?action=update&id1={{row['login_id']}}&id={{row['user_id']}}" class="btn btn-sm btn-danger" style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Edit My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="?action=delete&id1={{row['login_id']}}&id={{row['user_id']}}" class="btn btn-sm btn-danger" style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete My Account</a>
					</div>
			{% endfor %} 
	</div>
	{% endif %}
</form>
</body>

{% include 'footer.html' %}
