{% include 'farmerheader.html'%}
<body style="background: pink">
	<br><br><br>
	<h1 align="center"><font color="black"><u>View Suggesstions</u></font></h1>
	<form method="post">

	<table  align="center" class="table" style="width:700px;">
			<tr>
				<th><font color="black">Date</font></th>
				<th><font color="black">Farmer Name</font></th>
				<th><font color="black">Message</font></th>
				<th><font color="black">Reply</font></th>
			</tr>
			<tbody>
			{% for row in data['ide']%}
			<td><font color="black"><b>{{row['date']}}</b></font></td>
			<td><font color="black"><b>{{row['NAME']}}</b></font></td>
			<td><font color="black"><b>{{row['message']}}</b></font></td>
			<td><font color="black"><b>{{row['reply']}}</b></font></td>
			<td>
				<a href="?action=delete&id={{row['ideas_id']}}" class="btn btn-primary">Delete</a>
			</td>
		</tbody>
		{% endfor %}
	</table>
			

	</form>
<br><br><br><br>
{% include 'footer.html'%}
