{% include 'farmerheader.html'%}
<body style="background: pink">
	<br><br><br>
	<h1 align="center"><font color="black">Soil Details</font></h1>
	<form method="post">

	<table  align="center" class="table" style="width:700px;">
			<tr>
				<th><font color="black">Fertiliser Name</font></th>
				<th><font color="black">Description</font></th>
				<th><font color="black">Features</font></th>

			</tr>
			<tbody>
			{% for row in data['fer']%}
			<td><font color="black"><b>{{row['fertiliser_name']}}</b></font></td>
			<td><font color="black"><b>{{row['description']}}</b></font></td>
			<td><font color="black"><b>{{row['features']}}</b></font></td>
		</tbody>
		{% endfor %}
	</table>
			

	</form>
<br><br><br><br>
{% include 'footer.html'%}
