{% include 'provider_header.html' %}
<br><br><br><br><br><br><br><br>
<form method="post">
	<center><h2 style="color: red;">Order Status</h2></center>
	<table  align="center" style="width: 100%;color: blue;" class="table" >
		<tr>
			<th bgcolor="powdergreen">Date</th>
			<th bgcolor="powdergreen">Provider Name</th>
			<th bgcolor="powdergreen">User Name</th>
			<th bgcolor="powdergreen">Product Name</th>
			<th bgcolor="powdergreen">Total Amount</th>
			<th bgcolor="powdergreen">Delivery Status</th>
			
		</tr>
		<tbody>
			{% for row in data['or'] %}
			<tr>
				<td>{{row['date']}}</td>
				<td>{{row['SNAME']}}</td>		
				<td>{{row['UNAME']}}</td>			
				<td>{{row['product_name']}}</td>
				<td>{{row['total_amount']}}</td>
				{% if row['delivery_status']=='pending' %}
					<td>
						<a href="/provider/view_order?id={{row['om_id']}}" style="text-decoration: none" class="btn btn-primary">Accept</a>
					</td>
					<td>
						<a href="/provider/view_order?id1={{row['om_id']}}" style="text-decoration: none" class="btn btn-primary">Reject</a>
					</td>
					{% else %}
					<td><font color="black"><b>{{row['delivery_status']}}
						{% endif %}

			</tr>

			{% endfor %}
		</tbody>
	</table>

</form>
<br>
<br>
{% include 'footer.html' %}