{% include 'userheader.html' %}
<br><br><br><br><br><br>
<br>
<form method="post">
    <center><h2 style="color: red;">Payment</h2></center>
    <table  align="center" style="width: 700px;color: blue;" class="table" border=1 >
        {% for row in data['pay']%}
        <tr>
            <th>Amount Paid</th>
            <td><input type="text" name="am" required=" " class="form-control" style="width:90%;height: 40px" value="{{data['pay'][0]['estimated_amount']}}"></td>
        </tr>
        {% endfor %}
        
        <tr>
            <td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-primary" value="Pay"></td>
        </tr>
    </table>
</form>
<br>
<br>


{% include 'footer.html' %}