{% include 'userheader.html' %}
 <form method="post">
  <center>
<style >
    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
</style>

<br><br><br><br><br><br>

    <h1>Reviews and Ratings</h1>
    <table  style="width: 40%" class="table">
      <tr>
        <th>Provider Name</th>
        <td>
          <select name="pname" class="form-control">
            <option selected readonly>select</option>
            {% for row in data['pro'] %}
            <option value="{{row['provider_id']}}">{{row['NAME']}}</option>
            {% endfor %}
            
          </select>
        </td>
      </tr>
      <tr>
        <th>Reviews</th>
        <td><textarea name="des" rows="4" cols="50"></textarea></td>
      </tr>
      <tr>
       <th>Rating</th>
                <td>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" required=""/ style="color: pink;">
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" required=""/>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" required=""/>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" required="" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" required=""/>
                        <label for="star1" title="text">1 star</label>
                    </div>
                </td>
        </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" name="submit" value="submit" class="btn btn-primary"></td>
      </tr>
</table>
  </center>
</form>
{% include 'footer.html' %}



