{% include 'public_header.html' %}
<br><br><br><br><br><br>
<br>
<form method="post">
	<center><h2 style="color: red;">Create Account</h2></center>
	<table  align="center" style="width: 700px;color: blue;" class="table"  >
		<tr>
			<th>Area </th>
			<td>
		
				<select name="area" required=" " class="form-control" style="width:90%;height: 40%">
					<option>Select</option>
					{% for row in data['ar']%}
					<option value="{{row['area_id']}}">{{row['area_name']}}</option>
					{% endfor %}
				</select>
				
			</td>
		</tr>
		<tr>
			<th>First Name</th>
			<td><input type="text" name="fname" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" name="lname" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>House Name</th>
			<td><textarea name="hname" required=" " class="form-control" style="width:90%;height: 40px"></textarea></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" name="place" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>Pincode</th>
			<td><input type="text" name="pincode" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>District</th>
			<td><input type="text" name="dis" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>Contact</th>
			<td><input type="text" name="contact" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" name="email" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>User Name</th>
			<td><input type="text" name="uname" required=" " class="form-control" style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="pwd" required=" " class="form-control"  style="width:90%;height: 40px"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-primary" value="Register"></td>
		</tr>
	</table>
</form>
<br>
<br>


{% include 'footer.html' %}